@import "../common/variables";

.login_otp_sec {
    border-top: 1px solid #aba9ae;

    .login_box {
        background-color: $white;        
        box-shadow: 0px 0px 10px 0px #0000002a;
        padding: 20px;

        h4 {
            
        }
    }
}