@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "../common/variables";
@import "bootstrap/scss/mixins/breakpoints";

.product_filter_listing {


    // Filter (Left Side)
    .product_filter {
        border: 1px solid $primay_color;
        border-radius: 7px;

        .filter_data {
            padding: 10px 15px 10px;
        }
        .clear p {
            font-weight: 500;
            margin-bottom: 0;

            a {
                color: $paragraph_color;
                transition: 0.5s;

                &:hover {
                    color: $primay_color;
                    transition: 0.5s;

                    @include media-breakpoint-down(lg) {
                        color: $paragraph_color;
                    }
                }

                @include media-breakpoint-down(lg) {
                    color: $white;
                }
            }
        }
        .apply {
            p {
                margin-bottom: 0;
            }
            input {
                border-radius: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                color: #686868;
                font-weight: 500;

                @include media-breakpoint-down(lg) {
                    color: $white;
                }
            }
        }

        span.border-bottom {
            border-bottom: 1px solid $primay_color !important;
            display: block;

            @include media-breakpoint-down(lg) {
                border-bottom: 1px solid $white !important;
            }
        }

        h5 {
            color: $primay_color;
            font-size: 23px;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .category {
            
            .cat-inverse-left{
                width:70%;
            }
            .cat-inverse-right{
                width:70%;
            }
            
            .list_cat {
                position: relative;
                padding: 5px 0 7px;

                .no_of_products {
                    background-color: #ECEDEF;
                    color: $primay_color;
                    border-radius: 50px;
                    position: absolute;
                    font-size: 13px;
                    font-weight: 500;
                    right: -12px;
                    top: 3px;
                    padding: 6px 0;
                    width: 29px;
                    height: 29px;
                    text-align: center;

                    @include media-breakpoint-down(lg) {
                        background-color: $white;
                        color: $black;
                    }
                }
            }

            span.border-bottom {
                border-bottom: 1px solid $primay_color !important;
                margin: 5px 0 10px;

                @include media-breakpoint-down(lg) {
                    border-bottom: 1px solid $white !important;
                }
            }
            .checkboxes-data input {
                display: none;
            }
            .checkboxes-data label {
                color: $primay_color;
                font-size: 15px;
                font-weight: 400;
                position: relative;
                cursor: pointer;
                margin-bottom: 0;
                padding-left: 5px;
            }
            .checkboxes-data label:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 1px solid $primay_color;
                padding: 6px;
                display: inline-block;
                position: relative;
                top: -1px;
                left: -3px;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;

                @include media-breakpoint-down(lg) {
                    border: 1px solid $white;
                }
            }
            .checkboxes-data input:checked + label:before {
                content: '';
                -webkit-appearance: none;
                background-color: $primay_color;
                border: 1px solid $primay_color;
                padding: 6px;
                display: inline-block;
                position: relative;
                top: -1px;
                left: -3px;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;

                @include media-breakpoint-down(lg) {
                    background-color: transparent;
                    border: 1px solid $white;
                }
            }
            .checkboxes-data input:checked + label:after {
                content: '';
                display: block;
                position: absolute;
                top: 5px;
                left: 7px;
                width: 4px;
                height: 9px;
                border: solid #ffffff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
            .checkboxes-data.parent-cat input:checked + label {
                color: #415A70;
                font-weight: 700;
            }

            #filter_heading{
                color: #415A70;
                font-weight: 700;
            }

            .sub_cat {
                margin-left: 22px;
                margin-top: 5px;
            }
            .sub_cat .checkboxes-data label {
                color: $primay_color;
                font-size: 14px;
            }
            .sub_cat .checkboxes-data label:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 1px solid $primay_color;
                padding: 6px;
                display: inline-block;
                position: relative;
                top: -1px;
                left: -3px;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;

                @include media-breakpoint-down(lg) {
                    border: 1px solid $white;
                }
            }
            .sub_cat .checkboxes-data input:checked + label {
                font-weight: 500;
            }
            .sub_cat .checkboxes-data input:checked + label:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 1px solid $primay_color;
                padding: 6px;
                display: inline-block;
                position: relative;
                top: -1px;
                left: -3px;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;

                @include media-breakpoint-down(lg) {
                    border: 1px solid $white;
                }
            }            
            .sub_cat .checkboxes-data input:checked + label:after {
                content: '';
                display: block;
                position: absolute;
                top: 6px;
                left: 7px;
                width: 4px;
                height: 7px;
                border: solid $primay_color;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);

                @include media-breakpoint-down(lg) {
                    border: solid $white;
                    border-width: 0 2px 2px 0;
                }
            }


            #price_range {
                [slider] {
                    position: relative;
                    height: 10px;
                    border-radius: 10px;
                    text-align: left;
                    margin: 20px 0 40px 0;
                }            
                [slider] > div {
                    position: absolute;
                    left: 13px;
                    right: 15px;
                    height: 10px;
                    width: 80%;
                }            
                [slider] > div > [inverse-left] {
                    position: absolute;
                    left: 0;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #CCC;
                    margin: 0 7px;
                }            
                [slider] > div > [inverse-right] {
                    position: absolute;
                    right: 0;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #CCC;
                    margin: 0 7px;
                }            
                [slider] > div > [range] {
                    position: absolute;
                    left: 0;
                    height: 10px;
                    border-radius: 14px;
                    background-color: $primay_color;
                }            
                [slider] > div > [thumb] {
                    position: absolute;
                    top: -7px;
                    z-index: 2;
                    height: 23px;
                    width: 23px;
                    text-align: left;
                    margin-left: -11px;
                    cursor: pointer;
                    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
                    background-color: $primay_color;
                    border: 1px solid $white;
                    border-radius: 50%;
                    outline: none;
                }            
                [slider] > input[type=range] {
                    position: absolute;
                    pointer-events: none;
                    -webkit-appearance: none;
                    z-index: 3;
                    height: 10px;
                    top: -2px;
                    width: 100%;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: alpha(opacity=0);
                    -moz-opacity: 0;
                    -khtml-opacity: 0;
                    opacity: 0;
                }            
                div[slider] > input[type=range]::-ms-track {
                    -webkit-appearance: none;
                    background: transparent;
                    color: transparent;
                }            
                div[slider] > input[type=range]::-moz-range-track {
                    -moz-appearance: none;
                    background: transparent;
                    color: transparent;
                }            
                div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
                    background: transparent;
                    border: transparent;
                }            
                div[slider] > input[type=range]:focus {
                    outline: none;
                }            
                div[slider] > input[type=range]::-ms-thumb {
                    pointer-events: all;
                    width: 28px;
                    height: 28px;
                    border-radius: 0px;
                    border: 0 none;
                    background: red;
                }
                div[slider] > input[type=range]::-moz-range-thumb {
                    pointer-events: all;
                    width: 28px;
                    height: 28px;
                    border-radius: 0px;
                    border: 0 none;
                    background: red;
                }            
                div[slider] > input[type=range]::-webkit-slider-thumb {
                    pointer-events: all;
                    width: 28px;
                    height: 28px;
                    border-radius: 0px;
                    border: 0 none;
                    background: red;
                    -webkit-appearance: none;
                }            
                div[slider] > input[type=range]::-ms-fill-lower {
                    background: transparent;
                    border: 0 none;
                }            
                div[slider] > input[type=range]::-ms-fill-upper {
                    background: transparent;
                    border: 0 none;
                }            
                div[slider] > input[type=range]::-ms-tooltip {
                    display: none;
                }            
                [slider] > div > [sign] {
                    color: #415A70;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 28px;
                    opacity: 1;
                    position: absolute;
                    margin-left: -11px;
                    bottom: -39px;
                    z-index:3;
                    width: 31px;
                    height: 28px;
                    border-radius: 28px;
                    -webkit-border-radius: 28px;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    text-align: center;
                }  
            }


            .size-data {
                display: inline-block;
                margin-left: 10px;
                margin-top: 5px;
                input {
                    display: none;
                }
                .radio-img span {
                    color: $primay_color !important;
                    cursor: pointer;
                    font-size: 14px !important;
                    background-color: $white;
                    border: 1px solid $primay_color;
                    font-weight: 500 !important;
                    border-radius: 7px;
                    display: block;
                    padding: 7px 3px;
                    height: 35px;
                    width: 35px;
                    transition: 0.5s;
                    text-align: center;
                }
                .radio-img > input:checked + span {
                    color: $white !important;
                    border: 1px solid #415A70;
                    background-color: #415A70;
                }
            }


            .colors_data {
                label span {
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    border-radius: 50px;
                    position: relative;
                    top: 2px;
                    margin-right: 4px;
                    border: 1px solid;
                }
            }


        }


        @include media-breakpoint-down(lg) {
            border: 1px solid $white;
        }

    }

    // Product Listing (Right Side )
    .product_listing {

        .topbar {
            border: 2px solid #efefef;
            border-radius: 7px;
            padding: 10px 40px;

            p {
                color: $primay_color;
                margin-bottom: 0;
                display: inline-flex;

                span {
                    position: relative;
                    top: 2px;
                    margin-left: 5px;
                }

                @include media-breakpoint-down(sm) {
                    margin-bottom: 5px;
                }
            }

            select {
                border: 0;
                color: #415A70;
                font-weight: 500;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url("../images/arrow_dropup.svg");
                font-size: 13px;
                font-weight: 700;
                background-size: 10px;
                background-position: calc(100% - 0px) 8px;
                background-repeat: no-repeat;
                padding: 0 0 6px;
                border-bottom: 2px solid;
                margin-left: 15px;

                @include media-breakpoint-down(sm) {
                    padding-bottom: 5px;
                }
            }

            .switch {
                position: relative;
                display: inline-block;
                margin-bottom: 0;
                width: 53px;
                height: 28px;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    border-radius: 34px;
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin-left: 0;
                    background-color: #989898;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                input:checked + .slider {
                    background-color: #47c639;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 22px;
                    width: 22px;
                    left: 4px;
                    bottom: 3px;
                    background-color: $white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                .slider.round:before {
                    border-radius: 50%;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                    left: 2px;
                }
            }


            @include media-breakpoint-down(lg) {
                padding: 10px;
            }
        }

        .products {

            .product_box {
                border: 1px solid transparent;
                border-radius: 7px;
                padding: 15px;
                margin-bottom: 20px;
                overflow: hidden;
                transition: 0.5s;

                .img {
                    img {
                        height: 220px;
                        object-fit: contain;
                        transition: 0.5s;
                    }
                }

                .content {
                    border-bottom: 1px solid #aaaaaa;
                    padding: 15px 0 20px;
                    position: relative;
                    transition: 0.5s;

                    .heart_icon {
                        position: absolute;
                        top: 10px;
                        right: 0;
                        i {
                            color: $primay_color;
                            cursor: pointer;
                            border-radius: 50px;
                            font-weight: 300;
                            font-size: 17px;
                            padding: 8px 6px 4px;                
                        }
                        &.selected i {
                            background-color: $primay_color;
                            color: $white;
                        }
                    }

                    h6 {
                        color: $primay_color;
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 700;
                        margin-bottom: 15px;
                        width: 195px; 
                        height: 70px !important;
                        // transition: 0.5s;
                        // white-space: nowrap;
                        overflow: hidden !important;
                        // text-overflow: ellipsis;

                        &:hover {
                            color: $blue_btn;
                            transition: 0.5s;
                        }

                        @include media-breakpoint-down(md) {
                            width: 170px;
                        }
                    }

                    .price {
                        .price-style {
                            color: $price_color;
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: 700;
                            margin-bottom: 6px;

                            span {
                                font-size: 15px;
                                font-weight: 400;
                                display: inline-block;
                                position: relative;
                                top: -1px;
                            }
            
                            span.original_price {
                                color: $original_price_color;
                                margin: 0 5px;
                                &::before {
                                    content: '';
                                    background-color: $original_price_color;
                                    width: 100%;
                                    height: 2px;
                                    display: inline-block;
                                    position: absolute;
                                    top: 11px;
                                }
                            }

                            span.discount {
                                color: $discount_text_color;
                            }
                        }
                    }

                    .ratting {
                        margin-bottom: 8px;
                        .fa {
                            color: $ratting_star;
                            cursor: pointer;
                            font-size: 13px;
                        }                          
                        .checked {
                            color: $ratting_star_chacked ;
                        }

                        p {
                            color: $primay_color;
                            font-size: 13px;
                            margin-bottom: 0;
                            margin-left: 5px;
                        }
                    }

                    .rating-box-height{
                        height: 25px;
                    }

                    .color-box-height{
                        height: 25px;
                    }

                    .round-border{
                        border: 1px solid #84c8f9;
                    }

                    .colors_list {
                        p {
                            color: #415A70;
                            font-weight: 500;
                        }

                        .colors {
                            input {
                                display: none;
                            }

                            label {
                                cursor: pointer;
                                margin: 0 2px;
                                height: 20px;
                                width: 15px;
                                position: relative;
                                top: 2px;
                            }

                            span {
                                display: inline-block;
                                position: relative;
                                width: 14px;
                                height: 10px;
                            }
                            span.round {
                                border: 1px solid #6d6e70;
                                border-radius: 50px;
                                width: 14px;
                                height: 14px;
                            }

                            p.select_round {
                                // display: none !important;
                                display: block;
                                border-radius: 50px;
                                width: 10px;
                                height: 10px;
                                margin-bottom: 0;
                                position: absolute;
                                left: 2px;
                                top: 5px;
                            }
                            input:checked + .select_round {
                                display: block !important;
                            }
                        }
                    }
                }

                &:hover {
                    border: 1px solid $blue_btn;
                    transition: 0.5s;

                    .img img {
                        transform: scale(1.1);
                        transition: 0.5s;
                    }

                    .content {
                        border-bottom: 1px solid transparent;
                        transition: 0.5s;
                    }
                }
            }



            .pagination {
                // display: inline-block;
                a {
                    color: $primay_color;
                    float: left;
                    padding: 5px;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 500;
                    transition: background-color .3s;
                    border-radius: 5px;
                    border: 2px solid $primay_color;
                    margin: 0 4px 10px;
                    height: 35px;  
                    width: 35px;                  
                
                    &.active {
                        background-color: #415A70;
                        color: $white;
                        border: 1px solid #415A70;
                    }
                }
              
                a:hover:not(.active) {
                    background-color: #415A70;
                    color: $white;
                }
            }


            .desc {
                margin-bottom: 35px;

                h5 {
                    color: $primay_color;
                    font-weight: 700;
                }
            }
        }
    }


}


.product_listing_sec .fixed_filter_sort {

    @include media-breakpoint-down(lg) {
        background-color: #ffffff;
        box-shadow: 0px 3px 7px #00000040;
        position: relative;
        z-index: 999;
        padding: 15px 10px;
        margin-bottom: 30px;
        top: 0;
        transition: 0.5s;
    
        &.sticky_fixed_filter_sort {
            position: fixed;
            width: 92%;
            margin-top: -115px;
            top: 170px;
            transition: 0.5s;
        }
    
        .filter_icon {
            margin-bottom: 0;
        }
    }
    
}


.likes_products {
    .products .product_box .content h6 {
        width: 185px !important;
    }
}

.wishlistTile {
    i {
        &.fa-heart-o {
            color: rgba(0, 0, 0, 0.7);
        }

        &.fa-circle {
            color: rgba(255, 255, 255, 0.7);
            text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }
    }

    span {
        &.fa-stack {
            position: absolute;
            top: 8px;
            left: 0;
        }
    }
}

.wishlistTile {
    .fa-heart {
        color: black;
    }
}