@import "../common/variables";

.info_pages {

    p {
        color: $primay_color;            
        font-size: 17px;
        line-height: 27px;

        a {
            color: $price_color;
            border-bottom: 1px solid transparent;
            transition: 0.5s;

            &:hover {
                color: $primary_color;
                border-bottom: 1px solid $primary_color;
                transition: 0.5s;
            }
        }
    }

    h4 {
        color: $primary_color;
        border-bottom: 2px solid $primary_color;
        display: inline-block;
        margin: 20px 0;
        padding-bottom: 4px;
    }

    .feature_list {
        li {
            list-style: none;
            font-size: 16px;
            line-height: 26px;
            color: #5B5360;
            list-style: none;
            margin-bottom: 10px;
            position: relative;
            padding-left: 25px;
        }
        li:before {
            content: '';
            background-color: #415A70;
            border-radius: 50px;
            display: block;
            height: 8px;
            width: 8px;
            position: absolute;
            left: 0px;
            top: 9px;
        }

        li ol {
            li:before {
                content: '';
                background-color: #415A70;
                border-radius: 50px;
                display: block;
                height: 3px;
                width: 6px;
                position: absolute;
                left: 4px;
                top: 12px;
            }
        }
    }

}