/*******************************************************************************************************************************************************
*   Font Family
*******************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
$grey6: #444 !default;
$border-radius: 0.1875rem !default;

$Roboto: "Roboto", sans-serif;
$primary_color: #5b5360;
$primay_color: #5b5360;
$primary_btn_bgcolor: #5b5360;
$primary_btn_color: #f8f2e6;
$cart_count_bgcolor: #e83552;
$paragraph_color: #8f8f8f;
$slick_dots_color: #afafaf;
$background_color: #42596e;
$price_color: #1b3582;
$original_price_color: #8f8f8f;
$discount_text_color: #b41617;
$ratting_star: #d6d6d6;
$ratting_star_chacked: #fdc42d;
$blue_btn: #1b3582;
$out_of_stock: #8f8f8f;
$green_text: #2ecf54;
$orange_text: #cf602e;
$red_text: #b41617;
$white: white;
$danger: #c00;
$grey2: #eee !default;
$grey3: #ccc !default;
$grey4: #999 !default;
$black: #000;
