@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../utilities/shapes";
@import "../utilities/responsiveUtils";
@import "../utilities/swatch";


.product-detail .attributes .swatch-circle {
  // $white will be replaced by color image background in ISML
  @include swatch(2.5em, $white);
}

.product-detail [disabled] .swatch-circle,
.product-detail .swatch-circle.unselectable {
  cursor: not-allowed;

  &.swatches-value.selected::after {
    background-color: $gray-700;
  }
}

label.color ~ a:hover {
  // Removes weird dash after the swatch circle on hover.
  text-decoration: none;
}

.description-and-detail {
  margin-top: 2em;

  @include media-breakpoint-only(xs) {
    margin-top: 0;

    .title {
      font-size: 1.5rem;
      margin-bottom: 0;
      font-family: "Dosis", sans-serif;
    }

    > div:last-child {
      margin-bottom: 1em;
    }
  }

  .description {
    @include media-breakpoint-up(sm) {
      margin-bottom: 2em;
    }
  }

  .content {
    @include media-breakpoint-only(xs) {
      margin-top: 1em;
    }
  }
}

.box.alert-danger{
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb;
}

.social-container {
  padding-top: 0.9375em;
  text-align: center;

  .social-icons {
    text-decoration: none;
    font-size: 1.875em;
    list-style-type: none;
    padding: 0;
    color: $grey6;

    @include media-breakpoint-down(md) {
      font-size: 1.5625em;
    }

    i,
    a {
      color: $grey6;
      padding-right: 0.2em;
    }
  }
}

label.availability {
  padding-right: 0.3125em;
}

@include media-breakpoint-up(sm) {
  .product-number-rating {
    border-bottom: 1px solid $hr-border-color;
  }
}

@include media-breakpoint-up(md) {
  .product-number-rating {
    border-top: 1px solid $hr-border-color;
  }
}

@include media-breakpoint-only(sm) {
  .product-name {
    border-bottom: 1px solid $hr-border-color;
  }
}

.product-number-rating .ratings {
  @include media-breakpoint-up(sm) {
    margin-top: 0.625em;
  }

  @include media-breakpoint-only(xs) {
    background-color: $white;
    margin-top: -1.875em; /* 30/16 */
    margin-right: -0.9375em; /* 15/16 */
    padding: 0.1875em; /* 3/16 */
  }
}

.product-number {
  color: $product-number-grey;
  font-size: 0.875em;
  padding-bottom: 0.938em;
  padding-top: 0.938em;
}

.promotions {
  font-weight: normal;
  text-align: center;
  height: auto;

  div.collapsible-xl button.callout {
    font-size: 1.25em;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    color: $danger;

    @include media-breakpoint-up(sm) {
      font-size: 1.375em;
    }

    &::after {
      color: $black;
    }
  }
}

.product-breadcrumb .breadcrumb {
  border-bottom: none;
  margin-left: -1rem;
  margin-bottom: 0;

  @include media-breakpoint-down(md) {
    border-top: 1px solid $grey3;
  }
}

.price {
  font-size: 1.5rem;
}

.product-options {
  margin-top: 1.25em;
}

.size-chart {
  .size-chart-collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);

    &.active {
      max-height: 100%;
      transition-timing-function: ease-in-out;
    }
  }
}

.color-attribute {
  border: none;
  padding: 0;
  background: none;
  width: 100%;
  height: 65px;

  .swatch-image {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 20px;
  }

  .swatch-price-value {
    h6 {
      color: #5b5360;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
      text-transform: capitalize;
      position: relative;
      right: 26px;
      top: 5px;
      text-align: start;
    }
    span {
      color: #8f8f8f;
      font-size: 12px;
      font-weight: 500;
      position: relative;
      right: 30px;
      top: 10px;
    }
  }
  .swatch-price-value.selected {
    h6 {
      color: $white;
    }
    span {
      color: $white;
    }
  }
}

.non-input-label {
  display: block;
  margin-bottom: 0.5rem;
}

.attributes {
  @include media-breakpoint-up(md) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.product-grid {
  @include media-breakpoint-down(xs) {
    padding-top: 0.938em;

    .col-6 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.product-size-select-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-basis: 100%;
  padding-top: 16px;

  @include media-breakpoint-up(md-down) {
    justify-content: flex-start;
  }
}
.product-size-options {
  position: relative;
  width: 67px !important;
  height: 37px;
  //max-width: 100%;
  border-radius: 7px;
  //padding: 1px;
  cursor: pointer;
  margin: 0 10px 14px 0;
  color: $black;
  background-color: $white-gray;
  border: 1px solid $white-gray;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-size: 90%;
  transition: 0.3s ease;
  background-repeat: no-repeat;
  background-position: center;

  &.active,
  &:hover {
    border-color: $black;
  }

  &.disabled {
    span {
      &:before {
        content: "";
        position: absolute;
        background: $black;
        left: 18px;
        top: 1px;
        width: 2px;
        height: 36px;
        transform: rotate(45deg);
      }

      &:after {
        content: "";
        position: absolute;
        background: $black;
      }
    }
  }
}

.product-size-options {
  position: relative;
  background: $white;
  border-color: $black;
  background-size: cover;

  &.active {
    background-size: cover;
    color: #fff !important;
    border: 1px solid #415a70;
    background-color: #415a70;
  }

  &.disabled {
    cursor: not-allowed;

    span {
      &:before {
        content: "";
        position: absolute;
        background: $black;
        left: 18px;
        top: 1px;
        width: 2px;
        height: 36px;
        transform: rotate(45deg);
      }

      &:after {
        content: "";
        position: absolute;
        background: $black;
      }
    }
  }
}

.blue-border-btn.disabled,
.blue-border-btn:disabled,
.blue-btn.disabled,
.blue-btn:disabled {
  border-color: var(--skin-primary-color);
  color: var(--skin-primary-color-invert-1);
  opacity: 0.5;
  cursor: not-allowed !important;
}

.blue-btn.disabled:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.product_size_data {
  button {
    color: $primay_color !important;
    cursor: pointer;
    font-size: 14px !important;
    background-color: $white;
    border: 1px solid $primay_color;
    font-weight: 500 !important;
    border-radius: 7px;
    display: inline-block;
    padding: 7px 3px;
    height: 35px;
    width: 35px;
    transition: 0.5s;
    text-align: center;
  }

  input {
    color: $primay_color !important;
    cursor: pointer;
    font-size: 14px !important;
    background-color: $white;
    border: 1px solid $primay_color;
    font-weight: 500 !important;
    border-radius: 7px;
    display: inline-block;
    padding: 7px 3px;
    height: 35px;
    width: 55px;
    transition: 0.5s;
    text-align: center;
  }
}

.img-box{
  min-width: 255px;
  min-height: 255px;
  position: relative;

  img{
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    margin: auto;
  }
}
